body {
    background-color:black;
    background-image: url(images/yin-yang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black, 4px 4px silver;
    background-color: black;
    border-style: groove;
    border-width: 10px;
    border-color: silver;
    padding: 10px;
    background-image: url(images/yin-yang.jpg);
}

a {
    font-family: 'Russo One', sans-serif;
}


h2 {
    padding: 5px;
    color: white;
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 2px black, 4px 4px silver;
    margin: 20px 0px 20px 0px;

}

h4 {
    padding: 5px;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Russo One', sans-serif;
}

.card{
    background-color: black;
}

.project-pic {
    height: 250px;
}


#about-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: black;
    margin: 10px;
    padding: 5px;
    border-style: groove;
    border-width: 4px;

}

p {
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.index-form {
    width: 100%;
    background-color: silver;
    padding: 50px;
    opacity: 97%;
}

.form-text {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }

  li {
      float: left;
      list-style: none;
      margin: 10px 50px 10px 50px;
  }

.img-thumbnail {
width: 85%;
height: 75%;
margin: 5%;
padding: 0px;
text-align: center;

    
}

.portfolio-text {
    width: 100%;
    background-color: black;
    border-style: outset;
    border-width: 2px;
    border-color: silver;

}


#myPic {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-style: inset;
    border-width: 3px;
    border-color: white;
}

.link {
    margin: 0px;
    padding: 5px;
}

.link-container {
    margin: 5px;
    padding: 5px;
    border-style: ridge;
    border-width: 7px;
    border-color: dimgray;
    background-color: white;
}

.link-text {
    color: black;
    text-shadow: 1px 1px silver;
}


  